{% extends "base.html.twig" %}
{% block body %}
    
    {% if usersToFollow | length > 0 %}
        <p>You courrently don't follow anyone, you might find these users interesting : </p>

        {% for userToFollow in usersToFollow %}
           <a href="{{ path('following_follow', {'id': userToFollow.id}) }}">@{{ userToFollow.username }}</a>, 
        {% endfor %}
    {% else %}
        
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

        {% for post in posts %}
        <div class="row mt-3">
            <div class="col-9">
            {# <a href="{{ path('micro_post_post', {'id': post.id}) }}"> #}
                {{ include('micro_post/raw-post.html.twig', { 'post': post}) }}
            {# </a> #}
            </div>
            <div class="col-3">
                <small class="d-block text-right pt-3">
                {# <a href="{{ path('micro_post_user', {'username': post.user.username}) }}" class="btn btn-info">Profile</a> #}
                    {% if is_granted('edit', post) %}
                        <a href="{{ path('micro_post_edit', { 'id': post.id}) }}" class="btn btn-warning">Edit</a>
                    {% endif %}
                    {% if is_granted('delete', post) %}
                        <a href="{{ path('micro_post_delete', { 'id': post.id}) }}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </small>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}