    <div class="media text-muted pt-3 border">
    {# <img data-src="holder.js/32x32?text=MJ&bg=e83e8c&fg=fff&size=8" alt="" class="mr-2 rounded"> #}
        <img src="https://randomuser.me/api/portraits/{{ random(['women', 'men']) }}/{{ random(1, 99) }}.jpg" alt="" class="ml-2 mr-2 rounded img-fluid" style="max-width: 5% !important">
        <div class="media-body pb-3 mb-0 small lh-125 border-gray">
            <span class="d-block">
            <a href="{{ path('micro_post_user', {'username': post.user.username}) }}">
                <strong class="text-gray-dark">@{{post.user.username}}</strong>
            </a>
            <small>· {{post.time | date('d/m/Y')}}</small></span>
        <a href="{{ path('micro_post_post', {'id': post.id}) }}">
            {{post.text}}
            </a>
        </div>
    </div>