{% extends "base.html.twig" %}

{% block body %}

  {% if user %}
    <div class="alert alert-success">
      <h5>Congratulations !!!!!</h5>
      <p>Your account is confirmed! You can now login <a href="{{ path('security_login') }}">here</a></p>
    </div>
  {% else %}
    <p cass="alert alert-danger">Something went wrong. Please check your e-mail.</p>
  {% endif %}
  

{% endblock %}