{% extends 'base.html.twig' %}

{% block body %}
    {% if hasError %}
        <div class="alert alert-danger">
            {{ hasError.messageKey|trans(hasError.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('security_login') }}" method="post">
        <div>
            <div class="form-group">
                <label class="form-control-label required" for="username">Username</label>
                <input type="text" id="username" name="_username" required="required" class="form-control"
                       value="{{ username }}">
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="password">Password</label>
                <input type="password" id="password" name="_password" required="required" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" id="Login" name="Login" class="btn-secondary btn">Login</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
        </div>
    </form>
{% endblock %}