<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <script src="https://kit.fontawesome.com/81903b7a5d.js"></script>
    {% endblock %}
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0"
        href="{{ path('micro_post_index') }}">Micro Post App</a>
        <div class="w-100 order-1 order-md-0">
            <ul class="navbar-nav px-3">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('micro_post_add') }}">{{'Add new' | trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="order-2 order-md-1">
            <ul class="navbar-nav px-3">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item text-nowrap border-right border-secondary">
                        <a href="{{ path('notification_all') }}" class="nav-link">{{'Notifications' | trans }} <span class="badge badge-light" id="notification-count"><i class="fa fa-circle fa-circle-o-notch fa-spin"></i></span></a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link"
                        href="#">{{ app.user.fullName }}</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link"
                        href="{{ path('security_logout') }}">{{'Sign out' | trans }}</a>
                    </li>
                {% else %}
                    <li class="nav-item text-nowrap">
                        <a class="nav-link"
                        href="{{ path('security_login') }}">{{'Sign in' | trans }}</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link"
                        href="{{ path('user_register') }}">{{'Register' | trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>


<main role="main" class="container">

    {% for label, messages in app.flashes  %}
        <div class="container mt-3">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message | raw }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div class="ml-5 mr-5 my-3 p-3 bg-white rounded box-shadow">
        {% block body %}{% endblock %}        
    </div>
</main>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>

    {% if is_granted('ROLE_USER') %}
        <script>

            function fetchNotificationCount(){
                fetch(
                    '{{ path('notification_unread') }}',
                    {'credentials': 'include'}
                ).then(function(response){
                    response.json().then(function(json){
                        document.getElementById('notification-count').innerText = json.count;
                        setTimeout(fetchNotificationCount, 50000);
                    });
                }).catch(function(reason){

                });
            }

            fetchNotificationCount();

        </script>
    {% endif %}
    
{% endblock %}
</body>
</html>